<!-- CSS PATH : /assets/css/main.css-->
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<!-- https://ak.picdn.net/shutterstock/videos/10299200/thumb/1.jpg
				https://wallpapers.net/web/wallpapers/green-polygon-pattern-hd-wallpaper/thumbnail/lg.jpg-->
					<img src="https://c4.wallpaperflare.com/wallpaper/773/89/263/abstract-wallpaper-preview.jpg" alt="IMG" style="position:absolute"/>
					<img src="https://mpiums.in/assets/image/logo1.png" alt="IMG" style="position:relative;margin-top: -25px;margin-left: 20px;width:200%;height:200px"/>
					<p style="font-size:14px;color:white;position:absolute;font-family:Roboto Slab;margin-left:210px;margin-top:-157px"><b style="font-size:20px">Integrated University Management System </b><br><b>IUMS is a University solution for conducting <br>analyzing complex activities of University <br>and its affiliated colleges like <br>Centralized Admission,Centralized Examination</b></p>
				</div>
<!-- Input Fields & Form -->
				<form class="login100-form validate-form" style="margin-top:-75px;margin-right:-85px;">
					<span class="login100-form-title serif">
						 Login <i class='fa fa-book-reader'></i>

					</span>

					<!-- <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100 input-field" type="text" name="email" placeholder="Username" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div> -->
					<div class="input-field col s6">
				<i class="material-icons prefix" style="font-size:25px">email</i>
				 <input id="icon_prefix" type="text" class="validate" required >
				 <label for="icon_prefix">Username</label>
			 </div>
					<!-- <div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password"required>
						<!-- <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div> -->
					<div class="input-field col s6">
				<i class="material-icons prefix" style="font-size:25px">lock</i>
				 <input id="pass_log_id" type="password" class="validate" required ><span toggle="#password-field" style="margin-right:-450px;" class="fa fa-fw fa-eye field_icon toggle-password"></span>
				 <label for="icon">Password</label>
			 </div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login

						</button>
					</div>

					<div class="text-center p-t-12">

						<b><a style="margin-left:25px"routerLink='../forgot'>
							Forgot Password?
						</a></b>
					</div>

					<div class="text-center p-t-136">

					</div>
				</form>
			</div>
		</div>
	</div>
