
	<div class="limiter" >
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt >
				<img src="../assets/img/iums5.jpg" alt="IMG" style=""/>
				</div>
<!-- Input Fields & Form -->
	<form class="login100-form validate-form" style="margin-top:-75px;margin-right:-75px;">
					<span class="login100-form-title">
						 Reset Password <i class="fa fa-check-circle-o"></i><br>
						 <p>Enter your verified email address, we will send you a reset link.</p>
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" id="email"required placeholder="Email ID" >
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>


					<div class="container-login100-form-btn">
	<button [routerLink]='"/message"'class="login100-form-btn">
							Reset Password

						</button>
					</div>


					<div class="text-center p-t-136">

					</div>
				</form>
			</div>
		</div>
	</div>
