<!--  CSS PATH : /assets/css/main.css -->
	<!-- <div class="limiter" >
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt >
			<img src="../assets/img/iums5.jpg" alt="IMG" style=""/>
				</div>

			<form class="login100-form validate-form" style="margin-top:-75px;margin-right:-75px;">
					<span class="login100-form-title">
						 Reset Password <i class="fa fa-check-circle-o"></i><br><br><br>
						 <p>Check your email for a link to reset your password. if it doesn't appear within a few minutes, check your spam folder</p>
					</span>

          <div class="container-login100-form-btn">
      <button [routerLink]='"/"'class="login100-form-btn">
              Return to sign in

            </button>
          </div>


					<div class="text-center p-t-136">

					</div>
				</form>
			</div>
		</div>
	</div> -->
	<!-- CSS PATH : /assets/css/main.css-->
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<div class="login100-pic js-tilt" data-tilt>
						<!-- https://ak.picdn.net/shutterstock/videos/10299200/thumb/1.jpg
					https://wallpapers.net/web/wallpapers/green-polygon-pattern-hd-wallpaper/thumbnail/lg.jpg-->
						<img src="https://c4.wallpaperflare.com/wallpaper/773/89/263/abstract-wallpaper-preview.jpg" alt="IMG" style="position:absolute"/>
						<img src="https://mpiums.in/assets/image/logo1.png" alt="IMG" style="position:relative;margin-top: -25px;margin-left: 20px;width:200%;height:200px"/>
						<p style="font-size:14px;color:white;position:absolute;font-family:Roboto Slab;margin-left:210px;margin-top:-157px"><b style="font-size:20px">Integrated University Management System </b><br><b>IUMS is a University solution for conducting <br>analyzing complex activities of University <br>and its affiliated colleges like <br>Centralized Admission,Centralized Examination</b></p>
					</div>
	<!-- Input Fields & Form -->
					<form class="login100-form validate-form" style="margin-top:-75px;margin-right:-85px;">
						<span class="login100-form-title serif">
							Reset Password <i class="fa fa-check-circle"></i><br><br>
 <p>Check your email for a link to reset your password. if it doesn't appear within a few minutes, check your spam folder</p>
						</span>

						<!-- <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
							<input class="input100 input-field" type="text" name="email" placeholder="Username" required>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</span>
						</div> -->
						<!-- <div class="input-field col s6">
					<i class="material-icons prefix" style="font-size:25px">email</i>
					 <input id="icon_prefix" type="text" class="validate" required >
					 <label for="icon_prefix">Username</label>
				 </div> -->
						<!-- <div class="wrap-input100 validate-input" data-validate = "Password is required">
							<input class="input100" type="password" name="pass" placeholder="Password"required>
							<!-- <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
						</div> -->
						<!-- <div class="input-field col s6">
					<i class="material-icons prefix" style="font-size:25px">lock</i>
					 <input id="icon" type="password" class="validate" required >
					 <label for="icon">Password</label>
				 </div> -->

						<div class="container-login100-form-btn">
							<button [routerLink]='"/"' class="login100-form-btn" style="width:70%">
								Return to Login

							</button>
						</div>

						<div class="text-center p-t-136">

						</div>
					</form>
				</div>
			</div>
		</div>
