<!--  CSS PATH : /assets/css/main.css -->
	<div class="limiter" >
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt >
			<img src="../assets/img/iums5.jpg" alt="IMG" style=""/>
				</div>

			<form class="login100-form validate-form" style="margin-top:-75px;margin-right:-75px;">
					<span class="login100-form-title">
						 Reset Password <i class="fa fa-check-circle-o"></i><br><br><br>
						 <p>Check your email for a link to reset your password. if it doesn't appear within a few minutes, check your spam folder</p>
					</span>

          <div class="container-login100-form-btn">
      <button [routerLink]='"/"'class="login100-form-btn">
              Return to sign in

            </button>
          </div>


					<div class="text-center p-t-136">

					</div>
				</form>
			</div>
		</div>
	</div>
